header{
    background-color: var(--color-primary);
    height: 60px;
    display: flex;
    align-items: center;

}

.almovie-nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.almovie-nav-content h1{
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
}

.almovie-contact-container{
    display: flex;
}

.almovie-contact-link{
    margin: 0 0 0 .8rem;
    font-size: 1.2rem;
}